body {
    font-family: "Roboto", "Helvetica", sans-serif;
    padding: 0px;
    margin: 0px;
}

/* header stylings and layout */

header {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-container {
    height: 60px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    height: 52px;
    width: 52px;
}

.nav ul {
    display: flex;
    padding: 0px;
    gap: 24px;
}

.nav li {
    list-style-type: none;
}

.nav li a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

/* hero styling and layout */

.hero {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0px;
}

.hero-container {
    width: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}


.hero h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
    margin: 0px;
}

.hero-text {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero p {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-image {
    width: 40%;
    height: auto;
    min-width: 300px;
    max-width: 500px;
    flex: 1 1 auto;
}

button {
    background-color: #3882F6;
    color: #f9faf8;
    width: 200px;
    border-style: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 24px;
    padding: 10px 10px;
}

/* content overview styling and layout */

.content-overview {
    background-color: #f9faf8; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0px 80px 0px;
}

.container-content-overview {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overview-tiles {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.content-overview h2 {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
    margin-top: 0px;
}

.overview-image {
    width: 150px;
    height: 150px;
    border-style: solid;
    border-width: 4px;
    border-radius: 10px;
    border-color: #3882F6;
}

.overview-element {
    width: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* styling and layout for quote seciton */

.quote-section {
    background-color: #E5E7EB;
    padding: 80px 0px 80px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-quote {
    width: 50%;
}

.container-quote p {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
    text-align: left;
}

.quote-tag {
    display: block;
    text-align: right;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    margin-top: 20px;
}

/* CTA section layout and styling */

.cta-section {
    background-color: #f9faf8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0px;
}

.cta {
    width: 60%;
    background-color: #3882F6;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
}

.cta-text {
    width: 60%;
    color: #f9faf8;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.cta-text h3 {
    margin: 0px;
}

.cta button {
    border-color: #f9faf8;
    border-style: solid;
    border-width: 2px;
}
